@import "~bootstrap/dist/css/bootstrap.css";
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfcfc8a;

    &.overlayOpen {
        overflow: hidden;
    }

    header {
        height: 150px;
        margin: 0;
        background-color: azure;
        display: flex;
        padding-left: 15px;
        border-bottom: 3px solid #001cff9e;

        div.row {
            width: 100%;

            .headerIcon {
                width: 100px;
                height: 100px;
                margin-right: 15px;
                margin-top: 45px;
            }

            .menuButtonContainer {
                display: none;
                padding-left: 25px;
                padding-right: 5px;

                .menuButton {
                    width: 20px;
                    height: 20px;
                    margin-top: 65px;
                    z-index: 9999;
                    position: absolute;
                    
                    .menuIcon {
                        height: 25%;
                        width: 100%;
                        background-color: #8E9094;
                        opacity: 100;
                        margin: 4px;
                        margin-left: 4px;
                        margin-right: 0px;
                        border-radius: 15px;
                        transition: 0.5s;
                    }

                    &:hover {
                        .menuIcon {
                            background-color: #8E9094;
                        }
                    }
    
                    &.opened #menuIcon1 {
                        -webkit-transform: rotate(-405deg) translate(-5px, 10px);
                        transform: rotate(-405deg) translate(-5px, 10px);
                    }
    
                    &.opened #menuIcon2 {
                        opacity: 0;
                    }
    
                    &.opened #menuIcon3 {
                        -webkit-transform: rotate(405deg) translate(-3px, -8px);
                        transform: rotate(405deg) translate(-3px, -8px);
                    }
                }
            }            

            div {
                height: 100px;

                .headerIconSmall {
                    width: 45px;
                    height: 45px;
                    display: none;
                }

                h1 {
                    vertical-align: text-bottom;
                    margin-top: 95px;
                }
            }            

            .headerDetails {
                width: 250px;
                height: 110px;
                float: right;
                margin-top: 18px;
                background-color: rgba(70, 70, 70, 0.36);
                padding: 18px;
                border-radius: 5px;
                text-align: center;
            }
        }    
    }

    nav {
        width: 100%;
        height: 50px;
        background-color: #252526;
        display: flex;

        .navButton {
            width: fit-content;
            height: 100%;
            padding: 5px;
            color: #D6D8DE;
            background-color: #252526;
            border: none;
            font-size: 25px;
            font-weight: 400;
            padding-left: 30px;
            padding-right: 30px;

            &:hover {
                color: #D6D6D6;
                background-color: #404142;
                cursor: pointer;
            }

            &.active {
                border-bottom: 3px solid #001cff9e;
                padding-bottom: 45px;
            }
        }
    }

    .mainContainer {
        width: 85%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 3px;
        background-color: rgb(236, 236, 236);
        min-height: 1000px;
        max-height: calc(100% - 200px);
        padding: 15px;

        .owl-carousel {
            .owl-stage {
                .owl-item {
                    .slideItem {
                        position: relative;
                        .infoContainer {
                            position: absolute;
                            width: calc(100% - 110px);
                            left: 55px;
                            bottom: 0px;
                            text-align: left;
                            background-color: rgba(255, 255, 255, 0.6);
                            padding: 15px;
                        }
                    }
                }
            }

            .owl-nav {
                width: 1000px;
                position: absolute;
                left: 55px;
                top: 250px;

                div {
                    background: transparent;
                    font-size: 50px;
                    opacity: 0.6;

                    &:hover {
                        background-color: transparent;
                        opacity: 1;
                    }
                }

                .owl-prev {
                    float: left;
                }
                
                .owl-next {
                    float: right;
                }
            }

            .owl-dots {
                width: 1000px;
            }

            img {
                width: 1000px;
                height: 563px
            }
        }
    }

    .sideMenu {
        user-select: none;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #252526;
        overflow-x: hidden;
        -webkit-transition: width 0.5s ease-in-out;
        transition: width 0.5s ease-in-out;
        padding-top: 100px;
        display: none;

        &.opened {
            width: 75%;
        }

        .menuHeader {
            height: 130px;
            transition: none;

            .iconContainer {
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                
                img {
                    height: 75px;
                }
            }

            .generalInfo {
                margin-top: 15px;
                margin-bottom: 15px;
                .contactNumber {
                    font-size: 20px;
                    color: #D6D8DE;
                    width: 100%;
                    text-align: center;
                    text-decoration: underline;
                }

                .email {
                    color: #D6D8DE;
                    width: 100%;
                    text-align: center;
                    text-decoration: underline;
                }
            }
        }

        .menuOptions {
            margin-top: 15px;
            margin-bottom: 15px;
            .menuOption {
                height: 50px;
                padding: 8px 8px 8px 20px;
                text-decoration: none;
                font-size: 25px;
                color: #D6D8DE;
                display: block;
                transition: 0.3s;
    
                &.opened {
                    width: 100%;
                }
    
                &:hover {
                    color: #D6D6D6;
                    background-color: #404142;
                }
    
                span {
                    text-overflow: clip;
                    white-space: nowrap;
                }
            }
        }

    }

    .sideMenuOverlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #404142;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s;
        z-index: 1;

        &.opened {
            opacity: 0.4;
            pointer-events: all;
        }
    }
}

@media (max-width: 1024px) {
    body {
        header {
            height: 100px;
            padding-left: 0px;
            div.row {
                .headerIcon {
                    display: none;
                }

                .menuButtonContainer {
                    display: block;
                }

                div {
                    .headerIconSmall {
                        display: block;
                        margin-left: 35%;
                    }
                    
                    h1 {
                        font-size: 35px;
                        line-height: 45px;
                        margin-top: 0px;
                    }
                }

                .headerDetails {
                    display: none;
                }
            }
        }

        nav {
            display: none;
        }

        .mainContainer {
            background-color: #FFFFFF;
            width: 100%;
            border-radius: 0px;

            .owl-carousel {
                z-index: 0;

                .owl-nav {
                    width: 350px;
                    position: absolute;
                    left: 0px;
                    top: 85px;

                    div {
                        background: transparent;
                        font-size: 50px;
                        opacity: 0.6;
    
                        &:hover {
                            background-color: transparent;
                            opacity: 1;
                        }
                    }
                }

                .owl-dots {
                    width: 350px;
                }
    
                img {
                    width: 350px;
                    height: 265px
                }
            }
        }

        .sideMenu {
            display: block;
        }
    }
}

@media (max-width: 415px) {
    body {
        .mainContainer {
            .owl-carousel {
                .owl-stage {
                    .owl-item {
                        .slideItem {
                            position: relative;
                            .infoContainer {
                                position: absolute;
                                width: 100%;
                                left: 0px;
                                bottom: 0;
                                font-size: 13px;
                                text-align: left;
                                background-color: rgba(255,255,255,.6);
                                padding: 15px;
                                padding-bottom: 0px;

                                h1 {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }

                .owl-nav {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    body {
        header {
            div.row {
                div {
                    h1 {
                        font-size: 32px;
                        line-height: 65px;
                    }
                }
            }
        }

        .mainContainer {
            .owl-carousel {
                .owl-nav {
                    width: 325px;
                    left: -5px;
                }

                .owl-dots {
                    width: 325px;
                }
    
                img {
                    width: 325px;
                    height: 245px
                }
            }
        }
    }
}

@media (max-width: 360px) {
    body {
        .mainContainer {
            .owl-carousel {
                .owl-nav {
                    width: 310px;
                    left: -8px;
                    top: 60px;
                }

                .owl-dots {
                    width: 310px;
                }
    
                img {
                    width: 310px;
                    height: 235px
                }
            }
        }
        

        .sideMenu {    
            .menuOptions {
                .menuOption {
                    height: 45px;
                    padding: 8px 8px 8px 8px;
                    font-size: 20px;
                }
            }
    
        }
    }
}

@media (max-width: 320px) {
    body {
        header {
            div.row {
                .headerIcon {
                    display: none;
                }

                div {
                    .headerIconSmall {
                        display: block;
                        margin-left: 35%;
                    }

                    h1 {
                        font-size: 28px;
                        line-height: 65px;
                    }
                }
            }
        }

        .mainContainer {
            .owl-carousel {
                .owl-nav {
                    width: 275px;
                    left: -8px;
                    top: 55px;
                }

                .owl-dots {
                    width: 275px;
                }
    
                img {
                    width: 275px;
                    height: 205px
                }
            }
        }
    }
}