<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slideItem">
        <img src="../../assets/images/slide-pictures/1.jpg">
        <span class="infoContainer">
          <h1>Sea Kayaking</h1>
          <p>We offer a wide range of sea kayaking courses and lessons.</p>
        </span>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slideItem">
        <img src="../../assets/images/slide-pictures/2.JPG">
        <span class="infoContainer">
          <h1>Canoeing</h1>
          <p>We offer a wide range of canoeing courses and lessons.</p>
        </span>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slideItem">
        <img src="../../assets/images/slide-pictures/3.JPG">
        <span class="infoContainer">
          <h1>About Us</h1>
          <p>Learn about the instructors and the centre.</p>
        </span>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slideItem">
        <img src="../../assets/images/slide-pictures/4.JPG">
        <span class="infoContainer">
          <h1>Contact Us</h1>
          <p>Feel free to contact us should you have any questions.</p>
        </span>
    </div>
  </ng-template>
</owl-carousel-o>